<div class="container">
  <div class="row">
    <h3>Users</h3>
    <div style="float: right; padding: 20px;">
      <%= link_to("Add User", new_user_path, :method=> :get, :class => 'button-xs') %>
    </div>
    <div class="column table-responsive">
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
