<% @products.each do |product| %>

      <tr>
        <td><%= product[:id] %></td>
        <td><%= product.name %></td>
        <td class="notable"><%= product.size %></td>
        <td class="notable"><%= product.color %></td>
        <td class="notable"><%= product.weight %></td>
        <td class="notable"><%= product.dimensions %></td>
        <td class="notable"><%= product.quantity %></td>
        <td class="notable"><%= product.location %></td>
        <td class="notable"><%= product.description %></td>

        <td>
          <%= link_to "Edit", edit_product_path(product), remote: true, class: "btn btn-warning" %>
        </td>
        <td>
          <%= link_to "Delete", product_delete_path(product), remote: true, class: "btn btn-danger" %>
        </td>

        
      </tr>
<% end %> 