<div class="container">

  <div class="well">
    <div class="row">
      <% if current_user.admin? %>
          <div class="col-md-6">
            <%= link_to "New Product", new_product_path, remote: true, class: "btn btn-primary form-margin", id: "new-product" %>
          </div>
      <% end %>

      <div class="col-md-6 right">
        <%= render 'search' %>
      </div>
    </div>
  </div>
  <div class="new-product"></div>

  <%= render 'index' %>
  
</div>
<div id="product-modal" class="modal fade" tabindex="-1"></div>
